/*
 * 1Fonts v1.0rc1 - Persian Web Fonts.
 *
 * 1Fonts is a Persian fonts gallery for web developers.
 * All fonts optimized and fixed issues for using in web.
 * 
 * Copyright 2012-2013 Ali Mihandoost (i@ali.md) Under MIT-License
 * 
 * http://alimd.github.io/1fonts
 *
 */
 
// Configuration - You can edit for costume build
fonts_list = ('B Nazanin' nazanin) ('B Koodak' nini)
fonts_folder = 'fonts/'
fonts_class = true

quote(str)
  unquote("'")+str+unquote("'")

fontface(fontname)
  @font-face
    font-family quote(fontname)
    src url(fonts_folder+fontname+'.eot')
    src url(fonts_folder+fontname+'.eot?#iefix') format('embedded-opentype'),
        url(fonts_folder+fontname+'.woff') format('woff'),
        url(fonts_folder+fontname+'.ttf') format('truetype')
    font-weight normal
    font-style normal

for i in fonts_list
  fontface i[1]
  if fonts_class
    {'.'+i[1]}
      font-family i[0], i[1], Verdana, Geneva, sans-serif
