/*
 * 1Fonts v1.0rc1 - Persian Web Fonts.
 *
 * 1Fonts is a Persian fonts gallery for web developers.
 * All fonts optimized and fixed issues for using in web.
 * 
 * Copyright 2012-2013 Ali Mihandoost (i@ali.md)
 * 
 * http://alimd.github.io/1fonts
 *
 */
@font-face {
  font-family: 'Badr';
  src: url("fonts/BBadr.eot");
  src: url("fonts/BBadr.eot?#iefix") format('embedded-opentype'), url("fonts/BBadr.woff") format('woff'), url("fonts/BBadr.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Badr {
  font-family: Badr, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Baran';
  src: url("fonts/BBaran.eot");
  src: url("fonts/BBaran.eot?#iefix") format('embedded-opentype'), url("fonts/BBaran.woff") format('woff'), url("fonts/BBaran.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Baran {
  font-family: Baran, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Bardiya';
  src: url("fonts/BBardiya.eot");
  src: url("fonts/BBardiya.eot?#iefix") format('embedded-opentype'), url("fonts/BBardiya.woff") format('woff'), url("fonts/BBardiya.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Bardiya {
  font-family: Bardiya, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Compset';
  src: url("fonts/BCompset.eot");
  src: url("fonts/BCompset.eot?#iefix") format('embedded-opentype'), url("fonts/BCompset.woff") format('woff'), url("fonts/BCompset.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Compset {
  font-family: Compset, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Davat';
  src: url("fonts/BDavat.eot");
  src: url("fonts/BDavat.eot?#iefix") format('embedded-opentype'), url("fonts/BDavat.woff") format('woff'), url("fonts/BDavat.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Davat {
  font-family: Davat, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Elham';
  src: url("fonts/BElham.eot");
  src: url("fonts/BElham.eot?#iefix") format('embedded-opentype'), url("fonts/BElham.woff") format('woff'), url("fonts/BElham.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Elham {
  font-family: Elham, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'EsfehanBold';
  src: url("fonts/BEsfehanBold.eot");
  src: url("fonts/BEsfehanBold.eot?#iefix") format('embedded-opentype'), url("fonts/BEsfehanBold.woff") format('woff'), url("fonts/BEsfehanBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.EsfehanBold {
  font-family: EsfehanBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Fantezy';
  src: url("fonts/BFantezy.eot");
  src: url("fonts/BFantezy.eot?#iefix") format('embedded-opentype'), url("fonts/BFantezy.woff") format('woff'), url("fonts/BFantezy.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Fantezy {
  font-family: Fantezy, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Farnaz';
  src: url("fonts/BFarnaz.eot");
  src: url("fonts/BFarnaz.eot?#iefix") format('embedded-opentype'), url("fonts/BFarnaz.woff") format('woff'), url("fonts/BFarnaz.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Farnaz {
  font-family: Farnaz, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Ferdosi';
  src: url("fonts/BFerdosi.eot");
  src: url("fonts/BFerdosi.eot?#iefix") format('embedded-opentype'), url("fonts/BFerdosi.woff") format('woff'), url("fonts/BFerdosi.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Ferdosi {
  font-family: Ferdosi, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Hamid';
  src: url("fonts/BHamid.eot");
  src: url("fonts/BHamid.eot?#iefix") format('embedded-opentype'), url("fonts/BHamid.woff") format('woff'), url("fonts/BHamid.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Hamid {
  font-family: Hamid, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Helal';
  src: url("fonts/BHelal.eot");
  src: url("fonts/BHelal.eot?#iefix") format('embedded-opentype'), url("fonts/BHelal.woff") format('woff'), url("fonts/BHelal.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Helal {
  font-family: Helal, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Homa';
  src: url("fonts/BHoma.eot");
  src: url("fonts/BHoma.eot?#iefix") format('embedded-opentype'), url("fonts/BHoma.woff") format('woff'), url("fonts/BHoma.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Homa {
  font-family: Homa, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'JadidBold';
  src: url("fonts/BJadidBold.eot");
  src: url("fonts/BJadidBold.eot?#iefix") format('embedded-opentype'), url("fonts/BJadidBold.woff") format('woff'), url("fonts/BJadidBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.JadidBold {
  font-family: JadidBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Jalal';
  src: url("fonts/BJalal.eot");
  src: url("fonts/BJalal.eot?#iefix") format('embedded-opentype'), url("fonts/BJalal.woff") format('woff'), url("fonts/BJalal.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Jalal {
  font-family: Jalal, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'KoodakBold';
  src: url("fonts/BKoodakBold.eot");
  src: url("fonts/BKoodakBold.eot?#iefix") format('embedded-opentype'), url("fonts/BKoodakBold.woff") format('woff'), url("fonts/BKoodakBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.KoodakBold {
  font-family: KoodakBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Kourosh';
  src: url("fonts/BKourosh.eot");
  src: url("fonts/BKourosh.eot?#iefix") format('embedded-opentype'), url("fonts/BKourosh.woff") format('woff'), url("fonts/BKourosh.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Kourosh {
  font-family: Kourosh, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Lotus';
  src: url("fonts/BLotus.eot");
  src: url("fonts/BLotus.eot?#iefix") format('embedded-opentype'), url("fonts/BLotus.woff") format('woff'), url("fonts/BLotus.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Lotus {
  font-family: Lotus, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Mahsa';
  src: url("fonts/BMahsa.eot");
  src: url("fonts/BMahsa.eot?#iefix") format('embedded-opentype'), url("fonts/BMahsa.woff") format('woff'), url("fonts/BMahsa.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Mahsa {
  font-family: Mahsa, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'MehrBold';
  src: url("fonts/BMehrBold.eot");
  src: url("fonts/BMehrBold.eot?#iefix") format('embedded-opentype'), url("fonts/BMehrBold.woff") format('woff'), url("fonts/BMehrBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.MehrBold {
  font-family: MehrBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Mitra';
  src: url("fonts/BMitra.eot");
  src: url("fonts/BMitra.eot?#iefix") format('embedded-opentype'), url("fonts/BMitra.woff") format('woff'), url("fonts/BMitra.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Mitra {
  font-family: Mitra, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Morvarid';
  src: url("fonts/BMorvarid.eot");
  src: url("fonts/BMorvarid.eot?#iefix") format('embedded-opentype'), url("fonts/BMorvarid.woff") format('woff'), url("fonts/BMorvarid.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Morvarid {
  font-family: Morvarid, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Narm';
  src: url("fonts/BNarm.eot");
  src: url("fonts/BNarm.eot?#iefix") format('embedded-opentype'), url("fonts/BNarm.woff") format('woff'), url("fonts/BNarm.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Narm {
  font-family: Narm, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'NasimBold';
  src: url("fonts/BNasimBold.eot");
  src: url("fonts/BNasimBold.eot?#iefix") format('embedded-opentype'), url("fonts/BNasimBold.woff") format('woff'), url("fonts/BNasimBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.NasimBold {
  font-family: NasimBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Nazanin';
  src: url("fonts/BNazanin.eot");
  src: url("fonts/BNazanin.eot?#iefix") format('embedded-opentype'), url("fonts/BNazanin.woff") format('woff'), url("fonts/BNazanin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Nazanin {
  font-family: Nazanin, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Roya';
  src: url("fonts/BRoya.eot");
  src: url("fonts/BRoya.eot?#iefix") format('embedded-opentype'), url("fonts/BRoya.woff") format('woff'), url("fonts/BRoya.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Roya {
  font-family: Roya, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'SetarehBold';
  src: url("fonts/BSetarehBold.eot");
  src: url("fonts/BSetarehBold.eot?#iefix") format('embedded-opentype'), url("fonts/BSetarehBold.woff") format('woff'), url("fonts/BSetarehBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.SetarehBold {
  font-family: SetarehBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Shiraz';
  src: url("fonts/BShiraz.eot");
  src: url("fonts/BShiraz.eot?#iefix") format('embedded-opentype'), url("fonts/BShiraz.woff") format('woff'), url("fonts/BShiraz.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Shiraz {
  font-family: Shiraz, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'SinaBold';
  src: url("fonts/BSinaBold.eot");
  src: url("fonts/BSinaBold.eot?#iefix") format('embedded-opentype'), url("fonts/BSinaBold.woff") format('woff'), url("fonts/BSinaBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.SinaBold {
  font-family: SinaBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Tabassom';
  src: url("fonts/BTabassom.eot");
  src: url("fonts/BTabassom.eot?#iefix") format('embedded-opentype'), url("fonts/BTabassom.woff") format('woff'), url("fonts/BTabassom.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Tabassom {
  font-family: Tabassom, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Tehran';
  src: url("fonts/BTehran.eot");
  src: url("fonts/BTehran.eot?#iefix") format('embedded-opentype'), url("fonts/BTehran.woff") format('woff'), url("fonts/BTehran.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Tehran {
  font-family: Tehran, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'TitrBold';
  src: url("fonts/BTitrBold.eot");
  src: url("fonts/BTitrBold.eot?#iefix") format('embedded-opentype'), url("fonts/BTitrBold.woff") format('woff'), url("fonts/BTitrBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.TitrBold {
  font-family: TitrBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'TitrTGEBold';
  src: url("fonts/BTitrTGEBold.eot");
  src: url("fonts/BTitrTGEBold.eot?#iefix") format('embedded-opentype'), url("fonts/BTitrTGEBold.woff") format('woff'), url("fonts/BTitrTGEBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.TitrTGEBold {
  font-family: TitrTGEBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Traffic';
  src: url("fonts/BTraffic.eot");
  src: url("fonts/BTraffic.eot?#iefix") format('embedded-opentype'), url("fonts/BTraffic.woff") format('woff'), url("fonts/BTraffic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Traffic {
  font-family: Traffic, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'VahidBold';
  src: url("fonts/BVahidBold.eot");
  src: url("fonts/BVahidBold.eot?#iefix") format('embedded-opentype'), url("fonts/BVahidBold.woff") format('woff'), url("fonts/BVahidBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.VahidBold {
  font-family: VahidBold, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Yagut';
  src: url("fonts/BYagut.eot");
  src: url("fonts/BYagut.eot?#iefix") format('embedded-opentype'), url("fonts/BYagut.woff") format('woff'), url("fonts/BYagut.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Yagut {
  font-family: Yagut, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Yas';
  src: url("fonts/BYas.eot");
  src: url("fonts/BYas.eot?#iefix") format('embedded-opentype'), url("fonts/BYas.woff") format('woff'), url("fonts/BYas.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Yas {
  font-family: Yas, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Yekan';
  src: url("fonts/BYekan.eot");
  src: url("fonts/BYekan.eot?#iefix") format('embedded-opentype'), url("fonts/BYekan.woff") format('woff'), url("fonts/BYekan.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Yekan {
  font-family: Yekan, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Zar';
  src: url("fonts/BZar.eot");
  src: url("fonts/BZar.eot?#iefix") format('embedded-opentype'), url("fonts/BZar.woff") format('woff'), url("fonts/BZar.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Zar {
  font-family: Zar, Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'Ziba';
  src: url("fonts/BZiba.eot");
  src: url("fonts/BZiba.eot?#iefix") format('embedded-opentype'), url("fonts/BZiba.woff") format('woff'), url("fonts/BZiba.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Ziba {
  font-family: Ziba, Verdana, Geneva, sans-serif;
}
